body{background-color:#dadada;}
p{margin-left:15px;margin-right:15px;}
table{border-collapse:collapse;}
h4{text-align:center}
a:link{color : rgb(99, 99, 99);}
a:visited {color: rgb(238, 48, 48);}
a:hover 
{
    color: white!important;
    text-decoration: none;
    text-shadow : white 1px 1px 4px;
}
a:active {
    color: white;
    text-decoration: none;
}

.header{
    position:fixed; z-index:999;
    top:0px;
    background-color:#444444;
    min-height:20px;
    width:100%;
    padding:5px;
    text-align:center;
}

.liens1{
    color:#fafafa!important;
    padding-left:10px;
}
.liens2{
    color:rgb(180, 180, 180)!important;
    padding-left:10px;
}
.liens3{
    color:rgb(133, 128, 128)!important;
    padding-left:10px;
}

.h_responsive_br{ display:none;color:rgb(180, 180, 180);padding-left:15px;}
.h_responsive{display:inline;padding-left:17px;}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
   display: none;
    position: relative; min-width:160px;
   overflow: auto; background-color:#444444;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
}
.show {display:block;}
    
.alignement{margin-left:20%;}

.bienvenue{
    left:20%;
    position:relative;
    top:18px;
    font-size:20px;
color:gray;z-index:1;};}

.staff{
    height:0;
    position:relative;
    left:-35px;}

.imgstaff{    
    border-radius:100px;
    height:50px;}


.rondstaff{
    height:50px;width:50px;
    margin:10px;}

.rondstaff > div{visibility:hidden;}
.rondstaff:hover > div{
    visibility:visible;
    background-color:#dadada;
    width:100px;height:70px;padding:10px;
    position:relative; top:-40px;
    left:60px;border: 1px solid gray;transition:0.2s all;}

.presentation_container{font-size:12px;
    width:500px;height:100px;overflow:auto;
    border:1px solid gray;text-align:justify;
    padding-left:30px; background-color: gray;
    
}
.presentation{
    width:450px;height:65px;overflow:auto;background-color: #dadada;
    }

.contexte{font-size:12px;text-align:justify;
    border:1px solid gray;width:200px;height:100px;padding:15px 20px 15px 30px;overflow:auto;}

.sessions{
    background-color:tomato;width:300px;height:30px;
    text-align:center;padding:5px;letter-spacing:0px;transition: 0.3s all}
.sessions:hover{
    background-color:plum;letter-spacing:1px;}

.nouveautes{font-size:12px;overflow:auto;
    width:300px;border:1px solid gray;padding:10px 20px 10px 20px;height:70px;}



.description
{
    font-size : 12px;
    margin : -10px;
    text-align: justify;
    color: rgb(65, 65, 65);
}

.auteur
{
    font-size : 16px;
    font-style: italic;
    text-align: right;
    margin-top: -10px;
    margin-bottom: -10px;
    color: grey;
}
/* To do à la fin: Changer police "Session, rajouter image en fond */

.footer
{
    text-align:center;
    padding:40px;
    font-family:'Trebuchet MS';
    font-size:12px;
    color:#444444;
}

.persoImage {
    border-radius: 7px;
    border: 4px solid white;
    box-shadow: 1px 1px 10px #555;
    width: 100px;
    height: 100px;
}

.persoElemt
{
    color:rgb(65, 65, 65);
}
.persoType
{
    color: rgb(65, 65, 65);
    font-style: italic ;
    font-weight: bold;
    margin-top:-25px;
}

.card
{
    margin-right: auto;
    margin-left: auto;
}
@media all and (max-width: 840px) {
    .h_responsive{ display:none;}
    .h_responsive_br{ display:inline;}
    .h_responsive_br > span { display:none;} /**l'infobulle est cachée**/
    .h_responsive_br:hover > span { display:inline;} /**apparition de l'infobulle**/
    .alignement{margin-left:17px;}
    .header{height:50px;}
}
    
